<!DOCTYPE html>
<html lang="en">

<body>

  <header-bar/>
  <!-- end post-wrapper-top -->

  <section class="section1">
    <div class="container clearfix">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
        <welcome-info>
      	</welcome-info>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h4 class="title">
                    	<span>Forget Password?</span>
                    </h4>
          <form id="form" name="form" ng-submit="forget()" >
             <div class="form-group">
              <div class="input-group">
                <p>Enter your email address and we will send you instructions on how to reset your password.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required="required">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span ng-show="form.email.$dirty&&form.email.$touched&&form.email.$error.required" style="color:red;">Email is required</span>
                <span ng-show="form.email.$invalid && !form.email.$error.required" style="color:red;">Email is invalid</span>
              </div>
            </div>
          
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Forget Password</button>
              <button type="button" class="btn btn-success" ng-click="back()">Back</button>
            </div>
          </form>
        </div>
        <!-- end login -->
      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <!-- end section -->

  <footer-bar>
  </footer-bar>
</body>
</html>
