<span>
<footer class="footer">
    <div class="copyrights">
      <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 columns footer-left">
          <p>Copyright <span class="copyright">&copy;</span> 2018-2019 - All rights reserved.</p>
          <div class="credits">
            Created by deMAkvii</a>
          </div>
        </div>
        <!-- end widget -->
        <!-- end large-6 -->
      </div>
      <!-- end container -->
    </div>
    <!-- end copyrights -->
 </footer>
  <!-- end footer -->
</span>